<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <% if(page > 1) { %>
            <% let i = page  %>
            <% i--  %>
        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>" aria-label="Previous">
            <% } %>
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% for(let i = 1; i <= pages ; i++) { %>
      <li class="page-item"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
      <% } %>
      <li class="page-item">
        <% if(page <= pages - 1) { %>
            <% let i = page  %>
            <% i++  %>
        <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>" aria-label="Next">
            <% } %>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>









  <label id="Name" for="Name">Name</label>
    <input value="<%= nama.nama %>" type="text" id="Name" name="name"  placeholder=""   /> 
    <br /><br />
    <label id="Weight" for="Weight">Weight</label>
    <input value="<%= nama.berat %>" type="number" id="Weight" name="weight" placeholder="Enter your weight (kg)"/>
    <br /><br />
    <label id="Height" for="Height">Height</label>
    <input value="<%= nama.tinggi %>" type="number" id="Height" name="height" placeholder="Enter your Height (cm)" />
    <br /><br />
    <label id="Date" for="Date">Date</label>
    <input value="<%= nama.tanggal %>" type="date" id="Date" name="date" placeholder="Enter your birthdate" />
    <br /><br />
    <label id="Status" for="Status" > Marriage Status</label>
    <select  type="boolean" id="Status" name="status" >
      <option value="">Choose your choice</option>
      <option value="true">true</option>
      <option value="false">false</option>
    </select>
    <br /><br />
    <button type="submit" class="save">Save
    </button>
    <button> <a class="back" href="/"> Back</a>
    </button>
  
  </form>